mixin grid
  div.grid
    div.row.grow
      div
      div
      div
      div
    div.row.grow
      div
      div
      div
      div
    div.row.grow
      div
      div
      div
      div
    div.row.grow
      div
      div
      div
      div
