mixin instruction
  .describtion
    strong WHAT'S THIS: 
    | An reimplementation of 2048 by Shawn.
  .instruction
    strong HOW TO PLAY: 
    | In PC, use 
    strong  W, A, S, D 
    | or
    strong  &uarr;, &larr;, &darr;, &rarr; 
    | to move these pawns. Use your 
    strong  fingers 
    | instead in mobile devices.

  .rules
    strong RULES: 
    | Pawns with same numbers will merge together.
    br 
    | If the biggest number in the grid comes up to 2048, you win!
    br
    | If you can not move these pawns any more and you don't get 2048, game ends.
