mixin numbers
  div.numbers
    div.row
      div 0
      div 1
      div 2
      div 3
    div.row
      div 4
      div 5
      div 6
      div 7
    div.row
      div 8
      div 9
      div 10
      div 11
    div.row
      div 12
      div 13
      div 14
      div 15
