mixin numbers
  div.numbers
    div.row.nrow
      div.color-2 2
      div.color-4 4
      div.color-8 8
      div.color-16 16
    div.row.nrow
      div.color-32 32
      div.color-64 64
      div.color-128 128
      div.color-256 256
    div.row.nrow
      div.color-512 512
      div.color-1024 1024
      div.color-2048 2048
      div
    div.row.nrow
      div
      div
      div
      div
