{
  "root": true,
  "rules": {
    /* Possible Errors */
    "comma-dangle": [1, "never"],
    "no-cond-assign": [2, "always"],
    "no-ex-assign": 2,
    "no-extra-semi": 2,

    /* Best Practices */
    "curly": [2, "multi"],
    "dot-notation": 2,
    "no-alert": 2,

    /* Strict Mode */
    "strict": [2, "function"],

    /* Variables */
    "no-unused-vars": 1,
    "no-use-before-define": 2,

    /* Stylistic Issues */
    "block-spacing": [2, "always"],
    "camelcase": [2, {"properties": "always"}],
    "brace-style": 2,
    "comma-spacing": 2,
    "indent": [2, 2],
    "quotes": [2, "single"],
    "semi": [1, "always"]
  },
  "env": {
    "browser": true,
    "commonjs": true
  }
}
