* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 50px;
  background-color: #faf8ef;
  font-family: Trebuchet MS, Helvetica Neue, Helvetica, sans-serif;
}

.container {
  width: @pc-width;
  margin: 0 auto;
}

a {
  color: inherit;

  &:hover, &:focus, &:active {
    color: darken(brown, 20%);
  }
}

.retry {
  cursor: pointer;
}
