doctype
html
  head
    title Shawn's 2048
    link(rel='stylesheet' href='./css/main.css')
  body
    .container
      .header
        block header
      .game-container
        block game
      .footer
        block footer

    script(src='./js/bundle.js' type='text/javascript')
